<div class="w2 m1">
        <div class="w1">
            <div class="lbt">
                <div class="button-left"></div>
                <div class="button-right"><i></i></div>
                <div class="hdm">
                    <ul>
                        <li><div class="hdm-left"><a href="">手机</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">电视</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">笔记本 平板</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">出行 穿戴</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">耳机 音响</a><i>&gt;</i></div>
                            <div class="hdm-list">
                                <ul>
                                    <li><img src="/images/滑动门11.webp" alt=""><em class="color-change">骨传导耳机</em></li>
                                    <li><img src="/images/滑动门12.webp" alt=""><em class="color-change">Necklace</em></li>
                                    <li><img src="/images/滑动门13.webp" alt=""><em class="color-change">Xiaomi Bud 4 Pro</em></li>
                                    <li><img src="/images/滑动门14.webp" alt=""><em class="color-change">Redmi Bud 4 Pro</em></li>
                                    <li><img src="/images/滑动门15.webp" alt=""><em class="color-change">Redmi Bud 4</em></li>
                                    <li><img src="/images/滑动门16.webp" alt=""><em class="color-change">Xiaomi无线降噪耳机</em></li>
                                </ul>
                                <ul>
                                    <li><img src="/images/滑动门21.webp" alt=""><em class="color-change">Xiaomi 无线降噪耳机3</em></li>
                                    <li><img src="/images/滑动门22.webp" alt=""><em class="color-change">Redmi Buds 3</em></li>
                                    <li><img src="/images/滑动门23.webp" alt=""><em class="color-change">Air2 SE</em></li>
                                    <li><img src="/images/滑动门24.webp" alt=""><em class="color-change">Redmi Buds 3青春版</em></li>
                                    <li><img src="/images/滑动门25.webp" alt=""><em class="color-change">小米圈铁耳机Pro</em></li>
                                    <li><img src="/images/滑动门26.webp" alt=""><em class="color-change">小米活塞耳机</em></li>
                                </ul>
                                <ul>
                                    <li><img src="/images/滑动门31.webp" alt=""><em class="color-change">小米小爱触屏音箱Pro 8</em></li>
                                    <li><img src="/images/滑动门32.webp" alt=""><em class="color-change">小米小爱随身音箱</em></li>
                                    <li><img src="/images/滑动门33.webp" alt=""><em class="color-change">Xiaomi智能家庭屏6</em></li>
                                    <li><img src="/images/滑动门34.webp" alt=""><em class="color-change">小米小爱音箱Art</em></li>
                                    <li><img src="/images/滑动门35.webp" alt=""><em class="color-change">Xiaomi Sound</em></li>
                                    <li><img src="/images/滑动门36.webp" alt=""><em class="color-change">Redmi小爱触屏音箱Pro 8</em></li>
                                </ul>
                                <ul>
                                    <li><img src="/images/滑动门41.webp" alt=""><em class="color-change">Xiaomi智能家庭屏10</em></li>
                                    <li><img src="/images/滑动门42.webp" alt=""><em class="color-change">小爱音箱Pro</em></li>
                                    <li><img src="/images/滑动门43.webp" alt=""><em class="color-change">小爱音箱Play增强版</em></li>
                                    <li><img src="/images/滑动门44.jpg" alt=""><em class="color-change">小米小爱触屏音箱</em></li>
                                    <li><img src="/images/滑动门45.jpg" alt=""><em class="color-change">小米小暖音箱Play</em></li>
                                    <li><img src="/images/滑动门46.webp" alt=""><em class="color-change">小米小爱音箱Art电池版</em></li>
                                </ul>
                            </div>

                        </li>
                        <li><div class="hdm-left"><a href="">家电</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">智能 路由器</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">电源 配件</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">健康</a><i>&gt;</i></div></li>
                        <li><div class="hdm-left"><a href="">生活 箱包</a><i>&gt;</i></div></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>