<div class="m">
        <div class="w1 m3"><a href=""><img src="/images/商品区1.webp" alt=""></a></div>
        <!-- 第一个商品 -->
        <div class="w1 phone">
            <h2>手机</h2>
            <div class="phone-left">
                <a href="">
                    <img src="/images/商品区2.webp" alt="">
                </a>
            </div>
            <div class="phone-right right1">
                <div><img src="/images/商品区3.webp" alt="">
                    <h3>Redmi Note 12 5G</h3>
                    <p>三星 OLED 护眼屏｜骁龙 5G 芯｜5000mAh 电量</p>
                    <i>1199元起</i>
                </div>
                <div><img src="/images/商品区4.webp" alt="">
                    <h3>Redmi K50</h3>
                    <p>2K直屏的狠旗舰</p>
                    <i>1699元起</i>
                </div>
                <div><img src="/images/商品区5.webp" alt="">
                    <h3>Redmi Note 12 Pro</h3>
                    <p>IMX766 防抖相机｜OLED 柔性直屏｜67W 闪充</p>
                    <i>2099元起</i>
                </div>
                <div><img src="/images/商品区6.webp" alt="">
                    <h3>Redmi Note 12 Pro+</h3>
                    <p>2亿超清防抖相机｜OLED 柔性直屏</p>
                    <i>1099元起</i>
                </div>
                <div><img src="/images/商品区7.webp" alt="">
                    <h3>Redmi Note 11 5G</h3>
                    <p>5000mAh大电量</p>
                    <i>2099元起</i>
                </div>
                <div><img src="/images/商品区8.webp" alt="">
                    <h3>Redmi Note 11T Pro</h3>
                    <p>天玑8100｜真旗舰芯</p>
                    <i>1599元起</i>
                </div>
                <div><img src="/images/商品区9.webp" alt="">
                    <h3>Xiaomi 12S Pro</h3>
                    <p>骁龙8+ 旗舰处理器 | 徕卡影像</p>
                    <i>4399元起</i>
                </div>
                <div><img src="/images/商品区10.webp" alt="">
                    <h3>Redmi K50 至尊版</h3>
                    <p>骁龙8+ ｜1.5K 高清直屏</p>
                    <i>2699元起</i>
                </div>
            </div>
        </div>
        <!-- ----------------------------------------------------------------------------------------------------------------- -->
        <!-- 第二个商品 -->
        <div class="w1 phone">
            <h2>智能家居</h2>
            <div class="phone-right right2">
                <div class="left-move"><img src="/images/日用百货1.webp" alt="">
                </div>
                <div><img src="/images/日用百货2.webp" alt="">
                    <h3>小米小爱音箱 Pro</h3>
                    <p>澎湃低音，语音遥控传统家电</p>
                    <i>899元</i>&nbsp;<del>999元</del>
                </div>
                <div><img src="/images/日用百货3.webp" alt="">
                    <h3>小米AI音箱（第二代）</h3>
                    <p>低频饱满有深度，人声清晰有细节</p>
                    <i>199元</i>&nbsp;<del>299元</del>
                </div>
                <div><img src="/images/日用百货4.webp" alt="">
                    <h3>Xiaomi智能家庭屏 10</h3>
                    <p>MIUI Home｜10.1" 高清大屏｜115°超广角摄像头｜儿童模式｜家庭 KTV｜小爱同学</p>
                    <i>499元</i>&nbsp;<del>599元</del>
                </div>
                <div><img src="/images/日用百货5.webp" alt="">
                    <h3>小米小爱音箱Play 增强版</h3>
                    <p>LED时钟显示，语音控制传统家电</p>
                    <i>99元</i>&nbsp;<del>199元</del>
                </div>
                <div class="left-move"><img src="/images/日用百货6.webp" alt="">
                </div>
                <div><img src="/images/日用百货9.webp" alt="">
                    <h3>小米小爱音箱 Play</h3>
                    <p>听音乐、语音遥控家电</p>
                    <i>219元</i>&nbsp;<del>299元</del>
                </div>
                <div><img src="/images/日用百货7.webp" alt="">
                    <h3>小米小爱触屏音箱</h3>
                    <p>可视化智能家居，海量视听资源</p>
                    <i>269元</i>&nbsp;<del>299元</del>
                </div>
                <div><img src="/images/日用百货8.webp" alt="">
                    <h3>Xiaomi Sound</h3>
                    <p>HARMAN工程师专业调音，高保真震撼音质</p>
                    <i>179元</i>&nbsp;<del>199元</del>
                </div>

                <div class="small-box"><img src="/images/日用百货9.webp" alt=""><a href=""></a>
                    <h3>小米小爱音箱</h3>
                    <i>209元</i></a>
                </div>
                <div class="small-box">
                    <h2></h2><a href="">
                        <h3>浏览更多</h3>
                        <p>小爱音响</p>
                    </a>
                </div>
            </div>


        </div>
        <!-- 第三个商品 -->
        <div class="kong"></div>
        <div class="w1 m3"><a href=""><img src="/images/日用百货10.webp" alt=""></a></div>
        <div class="w1 phone">
            <h2>日用百货</h2>
            <div class="phone-right right2">
                <div class="left-move"><img src="/images/智能家居1.webp" alt="">
                </div>
                <div><img src="/images/智能家居2.webp" alt="">
                    <h3>米家声波电动牙刷T700</h3>
                    <p>智能洁齿丨强劲动力</p>
                    <i>29元</i>&nbsp;<del>39元</del>
                </div>
                <div><img src="/images/智能家居3.webp" alt="">
                    <h3>米家电动剃须刀S500</h3>
                    <p>3刀头360°浮动丨超长续航</p>
                    <i>159元</i>&nbsp;<del>179元</del>
                </div>
                <div><img src="/images/智能家居4.webp" alt="">
                    <h3>米家理发器</h3>
                    <p>米家理发器</p>
                    <i>129元</i>&nbsp;<del>149元</del>
                </div>
                <div><img src="/images/智能家居5.webp" alt="">
                    <h3>米家自动洗手机套装</h3>
                    <p>伸手出泡，抑菌有效</p>
                    <i>69元</i>&nbsp;<del>79元</del>
                </div>
                <div class="left-move"><img src="/images/智能家居6.webp" alt="">
                </div>
                <div><img src="/images/智能家居7.webp" alt="">
                    <h3>米家电动冲牙器</h3>
                    <p>超长待机丨4挡模式</p>
                    <i>199元</i>&nbsp;<del>219元</del>
                </div>
                <div><img src="/images/智能家居8.webp" alt="">
                    <h3>米家声波电动牙刷T500</h3>
                    <p>过压提醒丨健康报告</p>
                    <i>159元</i>&nbsp;<del>199元</del>
                </div>
                <div><img src="/images/智能家居9.webp" alt="">
                    <h3>米家电子体温计</h3>
                    <p>快速知体温，精准更智能</p>
                    <i>89元</i>&nbsp;<del>99元</del>
                </div>
                <div class="small-box"><img src="/images/智能家居10.webp" alt=""><a href=""></a>
                    <h3>米家电子体温计</h3>
                    <i>89元</i></a>
                </div>
                <div class="small-box">
                    <h2></h2><a href="">
                        <h3>浏览更多</h3>
                        <p>健康防护</p>
                    </a>
                </div>
            </div>


        </div>


    </div>